<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/kc_config.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/kc_config.js"></script>
    <script src="/javascripts/layer/layer.js"></script>
    <title>KC Deploy</title>
</head>
<body>

<% include block_menu.ejs %>

<div id="block_content">
    <% include content_top.ejs %>

    <div id="content_main">

        <table id="kc_config_table">
            <thead>
            <tr>
                <th class="">商家编号<span class="arrow asc"></span></th>
                <th class="">OC账号<span class="arrow asc"></span></th>
                <th class="">OC密码<span class="arrow asc"></span></th>
                <th class="">DB账号<span class="arrow asc"></span></th>
                <th class="">DB密码<span class="arrow asc"></span></th>
                <th><label>操作</label></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i in mc_list) {%>
            <% if (i%2 === 0) { %>
            <tr class="row">
            <% } else { %>
            <tr>
            <% } %>
            <form action="" method="post">
                <td><input type="text" name="mc_id" value="<%= mc_list[i].mc_id %>" readonly></td>
                <td><input type="text" name="oc_user" class="value" value="<%= mc_list[i].oc_user %>" readonly></td>
                <td><input type="text" name="oc_pwd" class="value" value="<%= mc_list[i].oc_pwd %>" readonly></td>
                <td><input type="text" name="db_user" value="<%= mc_list[i].db_user %>" readonly></td>
                <td><input type="text" name="db_pwd" class="value" value="<%= mc_list[i].db_pwd %>" readonly></td>
                <td>
                    <button type="button" onclick="editItem($(this))">编辑</button>
                    <button type="button" onclick="deleteDBData($(this))">清空数据</button>
                    <button type="button" onclick="deleteDBName($(this))">删除配置</button>
                </td>
            </form>
            </tr>
            <% } %>
            </tbody>
            <tfoot>
            <form id="config_form" action="" method="post">
            <tr>
                <td><input type="text" name="mc_id" ></td>
                <td><input type="text" name="oc_user" ></td>
                <td><input type="text" name="oc_pwd" ></td>
                <td><input type="text" name="db_user" ></td>
                <td><input type="text" name="db_pwd" ></td>
                <td><button type="button" onclick="addDBName($(this))">增加</button></td>
            </tr>
            </form>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $('.menu_config').find('a').addClass('active');
</script>
</body>
</html>